<!-- Main Panel -->
<div class="col s9">
  <div class="card">
    <div class="card-content" id="main-panel">
      <!-- Main Panel Content -->
      Main panel
      <table class="responsive-table highlight" id="search-results-table" class="search-results">
        <thead id="search-results-thead" class="search-results">
        <tr>
          <!--<th data-field="uuid">App Id</th>-->
          <!--<th data-field="name">Name</th>-->
          <!--<th data-field="category">Category</th>-->
          <!--<th data-field="species">Species</th>-->
          <!--<th data-field="source">Source</th>-->
          <!--<th data-field="source_id">Source Id</th>-->
          <!--<th data-field="description">Description</th>-->
          <!--<th data-field="more">More</th>-->
        </tr>
        </thead>
        <tbody id="search-results-tbody" class="search-results">

        </tbody>
      </table>
    </div>
  </div>
</div>