<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>P2EP Knowledgebase</title>
  <%= include_gon(watch: true) %>
</head>
<body>

<div class="dashboard-wrapper">
  <!-- Dashboard UI Panels -->
  <div class="row">
    <!-- Render side panel -->
    <%= render 'side' %>
    <!-- Render main panel -->
    <%= render 'main' %>
  </div>
</div>

</body>
</html>