<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P2EP Knowledgebase</title>
</head>
<body>

<div class="dashboard-wrapper">

  <p>Knowledgebase dashboard</p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
</div>

</body>
</html>